[Desktop Entry]
Name=OpenTTD
Comment=An Open Source reimplementation of the Microprose game "Transport Tycoon Deluxe"
Comment[pl]=Otwarta reimplementacja gry Transport Tycoon Deluxe
TryExec=openttd
Exec=openttd
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Game;StrategyGame;
Icon=openttd
# vi: encoding=utf-8
