[Desktop Entry]
Encoding=UTF-8
Name=OpenTTD server
Name[pl]=Serwer OpenTTD
Comment=OpenTTD dedicated server
Comment[pl]=Dedykowany serwer OpenTTD
Exec=openttd-dedicated
Terminal=true
Type=Application
Categories=Game;StrategyGame;
# vi: encoding=utf-8
